/*
 * Nav
 * Simple OOCSS module for navigation
 * http://jxnblk.github.io/nav
 *
 * */

// Variables
// Adjust these to match your own styles

// Heights 
$nav-base-height: 2.5rem !default;
$nav-big-height: 3rem !default;
$nav-small-height: 2rem !default;
$nav-padding: .5rem !default;

$radius: .25rem !default;

// Colors
$link-color: #0096cc !default;
$dark-gray: #333 !default;
$darken-1: rgba(#000,.125) !default;
$darken-2: rgba(#000,.25) !default;
$darken-3: rgba(#000,.375) !default;
$darken-4: rgba(#000,.5) !default;

$border-color: $darken-2 !default;

.nav {
  line-height: $nav-base-height;
  // Not sure if this is needed
  .nav-item,
  & > a {
    display: block;
    line-height: inherit;
    padding-right: $nav-padding;
    padding-left: $nav-padding;
    white-space: nowrap;
  }
}

// Is this useful?
.nav-item-selectable { cursor: pointer; }

@media (min-width: 32em) {
  .nav {
    display: table;
    .nav-item,
    & > a {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

// Extension to maintain inline style at all sizes
.nav-mobile {
  display: table;
  .nav-item,
  & > a {
    display: table-cell;
    vertical-align: middle;
  }
}

.nav-fixed { table-layout: fixed; }

// Sizing
.nav-big { line-height: $nav-big-height; }
.nav-small { line-height: $nav-small-height; }
.nav-wide {
  & > a {
    padding-right: 2 * $nav-padding;
    padding-left:  2 * $nav-padding;
  }
}

//.nav .button { padding: 0 $nav-padding; }

// Flush labels left and right
// Hover and active states will overflow
.nav-flush {
  margin-right: -.5em;
  margin-left: -.5em;
}

// Stacked
.nav-stacked {
  a {
    display: block;
  }
}


// Nav Bar
// Refactor this
.nav-bar {
}
/*
  // Other nav-items
  .nav-item {
    box-sizing: border-box;
    float: left;
    margin: .5em $nav-padding;
    max-height: 2em;
  }
  .nav-input {
    appearance: none;
    border-style: solid;
    border-width: 1px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    height: 2em;
    line-height: 2em;
    padding: 0 .5em;
    border-radius: $radius;
  }
*/

// Themes

.nav-dark {
  .nav-item-selectable,
  & > a {
    color: white;
    &:hover {
      color: white;
      background-color: $darken-2;
    }
  }
}

.nav-light {
  .nav-item-selectable,
  & > a {
    color: $dark-gray;
    &:hover {
      color: $dark-gray;
      background-color: $darken-1;
    }
  }
}

.nav-stacked-borders {
  border-style: solid;
  border-width: 1px;
  border-color: $darken-2;
  a {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: $darken-2;
    &:first-child {
      border-top: 0;
    }
  }
}

.nav-pills {
  .nav-item-selectable,
  & > a {
    border-radius: $radius;
    &:hover {
      background-color: rgba($link-color,.125);
    }
  }
  .active {
    color: white;
    background-color: $link-color;
    &:hover {
      background-color: darken($link-color,10%);
    }
  }
}

.nav-segmented {
  box-shadow: inset 0 0 0 1px $link-color;
  border-radius: $radius;
  .nav-item-selectable,
  & > a {
    border-right: 1px solid $link-color;
    &:hover { background-color: rgba($link-color,.125); }
    &:first-child { border-radius: $radius 0 0 $radius; }
    &:last-child {
      border-right: 0;
      border-radius: 0 $radius $radius 0;
    }
  }
  .active {
    color: white;
    background-color: $link-color;
    &:hover {
      background-color: darken($link-color,10%);
    }
  }
  &.nav-stacked {
    a {
      border-right: 0;
      border-bottom: 1px solid $link-color;
      &:first-child {
        border-radius: $radius $radius 0 0 ;
      }
      &:last-child {
        border-bottom: 0;
        border-radius: 0 0 $radius $radius;
      }
    }
  }
}

.nav-segmented-dark {
  box-shadow: inset 0 0 0 1px $link-color;
  border-radius: $radius;
  & > a {
    color: white;
    border-right: 1px solid $link-color;
    &:hover { background-color: rgba($link-color,.25); }
    &:first-child { border-radius: $radius 0 0 $radius; }
    &:last-child {
      border-right: 0;
      border-radius: 0 $radius $radius 0;
    }
  }
  .active {
    color: white;
    background-color: $link-color;
    &:hover {
      background-color: darken($link-color,10%);
    }
  }
}

.nav-tabs {
  & > a {
    border-radius: $radius $radius 0 0;
    border-bottom: 1px solid $border-color;
    &:hover {
      background-color: $darken-1;
    }
  }
  .active {
    background-color: white;
    border: 1px solid $border-color;
    border-bottom-color: transparent;
  }
}

